<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Karen Candy's</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/Slogan.jpeg" />
    <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/settings.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/layers.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/navigation.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/settings.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/layers.css">
<link rel="stylesheet" type="text/css" href="plugins/revo-slider/css/navigation.css">
<!-- Themefisher Icon font -->
<link rel="stylesheet" href="plugins/themefisher-font/style.css">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
<!-- Lightbox.min css -->
<link rel="stylesheet" href="plugins/lightbox2/dist/css/lightbox.min.css">
<!-- Slick Carousel -->
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" type="text/css" href="css/colors/light-green.css" title="light-green">

    <!-- Importação do jQuery -->
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css"/><script src="js/jquery-3.3.1.js"> </script>

    <!-- Todo Javascript é utilizado dentro da tag script -->
    <script>
      // Tudo aqui é considerado Javascript
      $(document).ready(function(){
        // alert("Tudo beleza!");
        // Evento de click no elemento aba1
        $("#produto").click(function(){
          // Tudo que deve ser feito ao clicar no aba1
          // Esconder o p2 e p3
          $("#p2").hide();
          // Mostrar o p1
          $("#p1").fadeIn();
        }); // Fim do evento click do aba1
        // Evento de click no elemento aba1
        $("#agenda").click(function(){
          // Tudo que deve ser feito ao clicar no aba1
          // Esconder o p2 e p3
          $("#p1").hide();
          // Mostrar o p1
          $("#p2").fadeIn(1500);
        }); // Fim do evento click do aba1
      });
    </script>

    <style media="screen">
    #p1, #p2{
      display: none;
    }
  </style>
  </head>
  <body>
    <header class="navigation navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="index.php">
                <img class="logo-default" src="images/logo.png" alt="logo" />
                <img class="logo-white" src="images/logo-white.png" alt="logo" />
            </a>
        </div>
        <nav class="collapse navbar-collapse navbar-right">
            <ul id="nav" class="nav navbar-nav menu">
                <li><a href="encomendas">Encomendas</a></li>
                <!-- <li><a href="encomendas.php">Encomendas</a></li> -->
                <li><a href="admin">Minha área</a></li>
            </ul>
        </nav>
    </div>
</header>

    <section class="single-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Minha Área</h2>
                    <ol class="breadcrumb header-bradcrumb">
                        <li><a href="index">Home</a></li>
                        <li class="active">Fotos</li>
                    </ol>
                </div>
            </div>
        </div>
      </section>

      <script>
        function msg() {
            alert("Produto Cadastrado!");
          }
      </script>

      <script>
        function msg1() {
            alert("Data inserida com sucesso!");
          }
      </script>

        <div class="col-md-12 text-center">
            <div class="title">
                <h2>Clique na opção desejada:</h2></div>
                <div class="item text-center">
                <button href="#" id="produto" class="btn btn-main mt-20" type="submit" required>Cadastrar Produto</button>
                <button href="#" id="agenda" class="btn btn-main mt-20" type="submit" required>Minha Agenda</button></div>
                <!-- <a href="#" id="produto">Cadastrar Produto</a>
                <a href="#" id="agenda">Minha Agenda</a> -->

                <!-- <p id="p1">IFPR Campus Paranavaí</p> -->
                <section class="about-2 section" id="about">
                  <div class="login">
                      <form action="#" method="post" id = "p1">
                        <label for="">Nome do Produto:</label><br>
                        <input class="obrigatorio campo" type="text" placeholder="Nome" name="produto" value="" required><br>
                        <label for="">Quantidade Mínima Produzida:</label><br>
                        <input class="obrigatorio campo" type="text" placeholder="Quantidade mínima" name="qtdmin" value="" required><br>
                        <label for="">Tempo de Produção:</label><br>
                        <input class="obrigatorio campo" type="text" placeholder="Tempo de produção" name="tempoprod" value="" required><br>
                        <label for="">Preço de Venda:</label><br>
                        <input class="obrigatorio campo" type="text" placeholder="Preço de Venda" name="preco" value="" required><br>
                        <button onclick="msg()" class="btn btn-main mt-20" type="submit">Cadastrar</button>
                        <!-- <button class="btn btn-main mt-20" type="submit" required>Cadastrar</button> -->
                      </form>

                      <form action="#" method="post" id = "p2">
                        <label for="">Data Livre:</label><br>
                        <input class="obrigatorio campo" type="date" placeholder="" name="data" value="" required><br>
                        <label for="">Tempo Livre:</label><br>
                        <input class="obrigatorio campo" type="time" placeholder="" name="tempo" value="" required><br>
                        <button onclick="msg1()" class="btn btn-main mt-20" type="submit">Cadastrar</button>
                      </form>
                    </div>
                </section>

                <!-- <p id="p2">Tecnologias Web</p> <br><br><br> -->

<script src="plugins/jquery/dist/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<script src="plugins/lightbox2/dist/js/lightbox.min.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/mixitup/dist/mixitup.min.js"></script>
<script src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revo-slider/js/extensions/revolution.extension.video.min.js"></script>

<script>

    /* https://learn.jquery.com/using-jquery-core/document-ready/ */
    jQuery(document).ready(function() {

        /* initialize the slider based on the Slider's ID attribute */
        jQuery('#rev_slider_1').show().revolution({

            /* options are 'auto', 'fullwidth' or 'fullscreen' */
            sliderLayout: 'fullscreen',

            /* basic navigation arrows and bullets */
            navigation: {

                arrows: {
                    style:"zeus",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                    left: {
                      h_align:"left",
                      v_align:"center",
                      h_offset:30,
                      v_offset:0
                    },
                    right: {
                      h_align:"right",
                      v_align:"center",
                      h_offset:30,
                      v_offset:0
                    }
                  }
                  ,
                  bullets: {
                    enable:false,
                    hide_onmobile:true,
                    hide_under:600,
                    style:"metis",
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    direction:"horizontal",
                    h_align:"center",
                    v_align:"bottom",
                    h_offset:0,
                    v_offset:30,
                    space:5,
                    tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                  }
            }
        });
    });
</script>
<footer id="footer" class="bg-one">
  <div class="footer-bottom">
    <h5>Desenvolvido por Karen Cristina Violim. <br> Todos os direitos reservados.</h5>
  </div>
</footer>
</body>
</html>